public-hoist-pattern[]=*@trpc/*
public-hoist-pattern[]=drizzle-orm
public-hoist-pattern[]=zod
public-hoist-pattern[]=superjson
public-hoist-pattern[]=@aws-sdk/*
public-hoist-pattern[]=ioredis
public-hoist-pattern[]=bullmq
public-hoist-pattern[]=postgres
